# Backend/requirements.txt
fastapi
uvicorn
gunicorn
python-multipart
langchain
langchain-community
langchain-google-genai
google-generativeai
pypdf
pandas     
faiss-cpu
python-dotenv
langchain-huggingface
tiktoken
passlib[argon2]
email-validator
python-jose[cryptography]
pymongo
argon2-cffi
pypdf2
python-docx
openpyxl
python-pptx
pillow
pytesseract
# gridfs is NOT a package - remove it