fastapi
uvicorn
gunicorn
python-multipart

langchain
langchain-community
langchain-google-genai
langchain-huggingface

google-generativeai
tiktoken

sentence-transformers
faiss-cpu

pypdf
pandas

python-dotenv

passlib[argon2]
email-validator
python-jose[cryptography]
argon2-cffi

pymongo

python-docx
openpyxl
python-pptx
pillow
pytesseract

torch --index-url https://download.pytorch.org/whl/cpu